<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.DAO.ShiyanDAO">
    <select id="selectAllShiyan" resultType="project.Beans.Shiyaninf">
        select * from shiyaninf
    </select>
    <insert id="shiyanChoose">
        insert into stushiyan(stu_id,shiyan_id)
            values(#{stuId},#{shiyanId})
    </insert>
    <select id="selectMyShiYan" resultType="project.Beans.MyShiYan">
        select
            stushiyan.id id,
            stushiyan.stu_id stuId,
            stushiyan.shiyan_id shiyanId,
            stushiyan.grade grade,
            shiyaninf.name shiYanName
        from stushiyan,shiyaninf
        where
            stushiyan.stu_id = #{stuId}
            and stushiyan.shiyan_id = shiyaninf.id
        order by grade
    </select>
    <delete id="tuixuanById">
        delete from stushiyan
            where stu_id = #{stuId}
                and shiyan_id = #{shiyanId}
    </delete>
</mapper>